<mat-horizontal-stepper #addGraph [linear]="isLinear" [animationDuration]="'100'">

    <mat-step [completed]="isThisStepDone" label="Tipul graficului" [editable]="false">
        <mat-form-field>
            <mat-label>Titlul graficului</mat-label>
            <input matInput [(ngModel)]="graphTitle">
        </mat-form-field>
        <br>
        <button mat-raised-button class="chart-type-button" (click)="onGraphSelect(addGraph,'pie')">
            <mat-icon class="chart-type-icon">pie_chart</mat-icon>
        </button>
        <button mat-raised-button class="chart-type-button" (click)="onGraphSelect(addGraph,'line')">
            <mat-icon class="chart-type-icon">show_chart</mat-icon>
        </button>
        <button mat-raised-button class="chart-type-button" (click)="onGraphSelect(addGraph,'bar')">
            <mat-icon class="chart-type-icon">bar_chart</mat-icon>
        </button>

    </mat-step>

    <mat-step [completed]="isThisStepDone" label="Sursa de date">
        <mat-form-field>
            <mat-label>Sursa de date</mat-label>
            <mat-select [(value)]="dataSource" (selectionChange)="resetDataSource($event)">
                <mat-option>None</mat-option>
                <mat-option value="CSV">CSV</mat-option>
                <mat-option value="SQL">SQL</mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <div *ngIf="dataSource=='CSV'">
            <button mat-raised-button (click)="selectFile.click()" style="margin-bottom:10px">Selectare fișier</button>
            <input hidden #selectFile type="file" accept=".csv" (change)="onSelectedFile($event)">
            {{selectedFile?.name}}
        </div>

        <div *ngIf="isDataSourceSelected">
            <button mat-raised-button color="primary" (click)="next(addGraph);parse()">Următor</button>
        </div>
    </mat-step>

    <mat-step label="Alegeți coloanele">
        Alegeți coloanele care vor fi folosite pentru crearea graficului:
        <div style="margin-top:10px;margin-bottom:10px">
            <div *ngFor="let column of columnsList">
                <mat-checkbox (change)="updateColumnsList(column)">{{column}}</mat-checkbox>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="submit()">Terminat</button>
    </mat-step>

</mat-horizontal-stepper>
