/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    margin:0
}
.mat-sidenav-container {
    height: 100%;
 }

 .mat-card{
    margin:10px
 }