<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <mat-toolbar color="primary" class="fix">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      
      <span>Aplicatie</span>
      <span style="flex: 1 1 auto;"></span>

      <div *ngIf="display">
        <button mat-raised-button (click)="openLoginDialog()" color="accent" style="margin-right:5px">Autentificare</button>
        <button mat-raised-button (click)="openRegisterDialog()">Înregistrare</button>
      </div>

      <div *ngIf="!display">
        <button mat-raised-button (click)="logout()">Deconectare</button>
      </div>

    </mat-toolbar>
  
    
      <div id="content">
        <mat-sidenav-container style="height:100%">
          <mat-sidenav #sidenav mode="push" [(opened)]="opened" style="height:100%">
            <span style="margin-left:10px">Sidenav content</span>
          </mat-sidenav>

          <mat-sidenav-content style="height:100%">
            <div *ngIf="isAuthenticated()">
              <router-outlet></router-outlet>
            </div>
            <div *ngIf="!isAuthenticated()">
              <app-login-notification></app-login-notification>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
  </body>
</html>
  