<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

    <mat-toolbar color="primary" class="fix">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
      <span>Aplicatie</span>
    </mat-toolbar>
  
  <div style="height:100vh">
    <mat-sidenav-container style="height:100%">
      <mat-sidenav #sidenav mode="push" [(opened)]="opened" style="height:100%">
        <span style="margin-left:10px">Sidenav content</span>
      </mat-sidenav>

      <mat-sidenav-content style="height:100%">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  </body>
</html>
  